<!-- <p>header works!</p>
<div class="header">
    <span class="title">BIG DATA SECURITY ANALYTICS PLATFORM</span>
    <div class="icons">
      <div class="icon-group">
        <i class="bell-icon"></i>
        <span class="badge">12</span>
      </div>
      <div class="icon-group">
        <i class="alert-icon"></i>
        <span class="badge">2209</span>
      </div>
      <div class="user-icon">
        <span>Admin</span>
      </div>
    </div>
  </div>
   -->

   <div class="header">
    <img src="assets\Logo.png" alt="Logo" class="logo">
    <span class="title">BIG DATA SECURITY ANALYTICS PLATFORM</span>
    <div class="icons">
      <div class="icon-group">
        <img src="assets\bell.png" alt="Bell Icon" class="icon">
        <span class="badge">12</span>
      </div>
      <div class="icon-group">
        <img src="assets\isign.png" alt="Alert Icon" class="icon">
        <span class="badge">2209</span>
      </div>
      <div class="user-icon">
        <img src="assets\user.png" alt="Admin Icon" class="icon">
        <span>Admin</span>
      </div>
    </div>
  </div>