<!-- <p>sidebar works!</p> -->
<!-- <div class="sidebar">
    <div *ngFor="let item of menuItems" class="menu-item">
      <img [src]="item.icon" alt="icon">
    </div>
  </div> -->



  <div class="sidebar">
    <div class="logo">
      <img src="assets/hamburger.png" alt="Logo">
    </div>
    <div class="menu">
      <div class="menu-item">
        <img src="assets/home.png" alt="Icon 1">
      </div>
      <div class="menu-item">
        <img src="assets/pcIcon.png" alt="Icon 2">
      </div>
      <div class="menu-item">
        <img src="assets/searchIcon.png" alt="Icon 3">
      </div>
      <div class="menu-item">
        <img src="assets/settings.png" alt="Icon 4">
      </div>
      <div class="menu-item">
        <img src="assets/bugIcon.png" alt="Icon 5">
      </div>
      <div class="menu-item">
        <img src="assets/statsIcon.png" alt="Icon 6">
      </div>
      <div class="menu-item">
        <img src="assets/humanIcon.png" alt="Icon 7">
      </div>
      <div class="menu-item">
        <img src="assets/fixIcon.png" alt="Icon 8">
      </div>
    </div>
  </div>